/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.anxiety-buttons {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center
}

.anxiety-buttons form button {
    width: 56px;
    height: 56px;
    font-size: 20px;
    border-radius: 50%;
    border: none;
    background-color: #e6ffed;
    color: rgb(0, 0, 0);
    cursor:pointer;

}

[data-breathing-target="flowers"]{
    white-space: pre-line;
}

[data-breathing-target="flowers"] {
    white-space: pre-line;
    min-height: 80px;
}

@keyframes fade-leaf-1 {
    0% { opacity: 0; }
    16.67% { opacity: 1; }    /* 0秒〜1秒でフェードイン */
    83.33% { opacity: 1; }    /* 見えたままキープ */
    100% { opacity: 0; }      /* 5秒〜6秒でフェードアウト */
}

@keyframes fade-leaf-2 {
    0% { opacity: 0; }
    16.67% { opacity: 0; }    /* 1秒までは、まだ透明 */
    33.33% { opacity: 1; }    /* 1秒〜2秒でフェードイン */
    83.33% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fade-leaf-3 {
    0% { opacity: 0; }
    33.33% { opacity: 0; }    /* 2秒までは、まだ透明 */
    50% { opacity: 1; }       /* 2秒〜3秒でフェードイン */
    83.33% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fade-leaf-4 {
    0% { opacity: 0; }
    50% { opacity: 0; }       /* 3秒までは、まだ透明 */
    66.67% { opacity: 1; }    /* 3秒〜4秒でフェードイン */
    83.33% { opacity: 1; }
    100% { opacity: 0; }
}